@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fons.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap');

html {
    overflow-x: hidden;
}

body {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}

.container {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}

.container1 {
    max-width: 1400px;
    padding: 0 60px;
    margin: 0 auto;
}

.title-1 {
    font-size: 40px;
    font-weight: 600;
}

.btn {
    display: inline-block;
    padding: 7px 22px;
    background-color: #070707;
    border-radius: 30px;
    font-size: 18px;
    color: #ffe3a8;
    transition: background-color 0.2s ease-in, top 0.2s ease-in;
}

.btn:hover, .btn:focus {
    background-color: #323232;
}

.btn:active {
    position: relative;
    top: 1px;
    background-color: #000000;
}

/* header */

.header {
    padding-top: 46px;
    background-color: #F1F1F1;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.main-img {
    border-radius: 30px;
    margin: 20px;
}

/* nav */

.nav-list {
    display: flex;
    column-gap: 50px;
    font-weight: 500;
    font-size: 25px;
    margin-top: -60px;
}

.nav-button {
    display: none;
}

.nav-link {
    color: #000;
}

.nav-link.active {
    color: #606060;
}

/* header content */

.header-row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.header-content {
    margin-top: 124px;
    max-width: 500px;
}

.header-heading {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 45px;
}

.header-content p {
    font-size: 25px;
}

/* service */

.services {
    padding: 90px 0;
    text-align: center;
}

.services-row {
    display: flex;
    column-gap: 30px;
    row-gap: 60px;
    flex-wrap: wrap;
}

.service-card {
    flex: 1 1 0;
    min-width: 315px;
}

.service-card-img {
    margin-bottom: 30px;
    max-width: 90px;
    text-align: center;
}

.service-card-title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 28px;
    text-transform: uppercase;
}

.service-card p {
    font-size: 23px;
}

/* слайдер */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: -40px;
}

.slider-img {
    width: 100%;
    height: 500px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #878484;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.act, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from{opacity: .4}
    to{opacity: 1}
}
@keyframes fade {
    from{opacity: .4}
    to{opacity: 1}
}

/* portfolio */

.portfolio {
    padding: 50px 0;
    background-color: #F1F1F1;
}

.portfolio1 {
    padding: 50px 0;
    background-color: white;
}

.portfolio-title {
    margin-bottom: 70px;
    text-align: center;
}

.project-flex {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    flex-direction: row;
    text-align: center;
	align-items: center;
	justify-content: center;
}

.project {
    text-align: center;
	align-items: center;
	justify-content: center;
}

.project + .project  {
    margin-top: 130px;
}

.project-img {
    max-width: 350px;
    max-height: 650px;
    border-radius: 10%;
    margin: 30px;
    margin-top: -100px;
}

.project-title {
    font-size: 25px;
}

.project-title a {
    color: #000;
    text-decoration: underline;
  background: linear-gradient(135deg, #F506FE 20%, #28B9E3 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  padding: 0.3em 0.6em ;
  border: 3px solid transparent;
  border-image: linear-gradient(135deg, #F506FE 20%, #28B9E3 70%);
  border-image-slice: 1;
  width: 300px;
}

/* footer */
.contacts {
    background-color: #F1F1F1;
    padding: 90px 0;
    text-align: center;
}

.contacts-title {
    margin-bottom: 40px;
}

.contacts-content {
    margin: 0 auto 40px;
    max-width: 480px;
    font-size: 25px;
}

.contacts-content p + p {
    margin-top: 1em;
}

.contacts-button {
    margin-bottom: 60px;
}

.btn {
    font-size: 20px;
}

.contacts-social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    margin-bottom: -40px;
}

.contacts-social img {
    max-width: 50px;
}

/* футер иконки соц сетей */
.foot{
    position: relative;
    display: flex;
    gap: 25px;
    justify-content: center;
  }
.foot li{
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
  }
.foot li:hover{
    width: 180px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
  }
.foot li::before{
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50px;
    background: linear-gradient(45deg, var(--i), var(--j));
    opacity: 0;
    transition: 0.5s;
  }

.foot li:hover::before{
    opacity: 1;
  }
.foot li::after{
    content: '';
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--i), var(--j));
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
    filter: blur(15px);
  }
.foot li:hover::after{
    opacity: 0.5;
  }
.foot li i{
    color: #777;
    font-size:  1.75em !important;
    transition: 0.5s;
    transition-delay: 0.25s;
  }
.foot li:hover i{
    transform: scale(0);
    font-size: 1.75em;
    transition-delay: 0.25s;
  }
.foot li span{
    position: absolute;
  }
.foot li .titulo{
    color: #fff;
    font-size: 1.1em !important;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
  }
.foot li:hover .titulo{
    transform: scale(1);
    transition-delay: 0.25s;
  }

  