/* медиа-запросы на размер экрана меньше 1230px */
@media (max-width: 1230px) {
.nav-list {
	display: none;
	margin-top: 1px;
}

.nav-button {
	display: block;
}

.nav.open .nav-list {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	z-index: 1;
	padding: 46px 30px;
	display: flex;
	flex-direction: column;
	row-gap: 40px;
	font-size: 34px;
	font-weight: 600;
}

.nav-link {
	color: #828282;
}

.nav-link.active {
	color: #000;
}

.nav-button {
	position: absolute;
	z-index: 9;
	top: 46px;
	right: 30px;
}

.nav.open .nav-button {
	position: fixed;
}

.header-nav {
	margin-bottom: 50px;
}

.header-row {
	flex-direction: column;
	row-gap: 20px;
}

.header-content {
	margin-top: 0;
}

.header-img {
	text-align: center;
}

.project-img {
	max-width: 550px;
	max-height: 350px;
	margin-bottom: 40px;
	border-radius: 10%;
	margin-top: -30px;
}
}

/* медиа-запросы на размер экрана меньше 880px */
@media (max-width: 880px) {

.hero-section {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: white;
	margin-top: -50px;
	padding-left: 30px;
	padding-right: 20px;
}

.card {
	position: relative;
	list-style: none;
	gap: 30px;
	width: 180px;
	transition: .3s ease;
}
}

/* медиа-запросы на размер экрана меньше 750px */
@media (max-width: 750px) {
.header-heading {
	font-size: 34px;
	line-height: 1.3;
}

.header-heading span {
	font-size: 28px;
}

.services {
	padding: 60px 0;
}

.portfolio {
	padding: 60px 0;
}

.portfolio-title {
	margin-bottom: 50px;
}

.project-img {
	margin-bottom: 30px;
}

.project + .project {
	margin-top: 55px;
}

.contacts {
	padding: 60px 0;
}

.contacts-title {
	margin-bottom: 20px;
}

.contacts-content {
	margin-bottom: 20px;
}

.contacts-button {
	margin-bottom: 70px;
}

.contacts-social {
	column-gap: 50px;
	margin-bottom: 20px;
}

.slider-img {
	width: 100%;
	height: 300px;
}

.project-img {
	max-width: 450px;
	max-height: 350px;
	margin-bottom: 40px;
	border-radius: 10%;
	margin-top: -30px;
}

.hero-section {
	max-width: 750px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: white;
	margin-top: -50px;
	padding-left: 30px;
	padding-right: 20px;
}

.card {
	position: relative;
	list-style: none;
	gap: 30px;
	width: 180px;
	transition: .3s ease;
}
}

/* медиа-запросы на размер экрана меньше 550px */
@media (max-width: 550px) {

.slider-img {
	width: 100%;
	height: 250px;
}

.project-img {
	max-width: 350px;
	max-height: 250px;
	margin-bottom: 40px;
	border-radius: 10%;
	margin-top: -30px;
	padding-right: 25px;
	margin-left: 50px;
}

.project-title {
	margin-left: 0px;
}
}