@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fons.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap');

html {
    overflow-x: hidden;
}

body {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}

.container {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}

.title-1 {
    font-size: 40px;
    font-weight: 600;
}

.btn {
    display: inline-block;
    padding: 7px 22px;
    background-color: #070707;
    border-radius: 30px;
    font-size: 18px;
    color: #ffe3a8;
    transition: background-color 0.2s ease-in, top 0.2s ease-in;
}

.btn:hover, .btn:focus {
    background-color: #ffdf6b;
}

.btn:active {
    position: relative;
    top: 1px;
    background-color: #000000;
}

/* header */
.header {
    padding-top: 46px;
    background-color: #F1F1F1;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.main-img {
    border-radius: 30px;
    margin: 20px;
}

/* nav */

.nav-list {
    height: 100%;
    display: flex;
    column-gap: 50px;
    font-weight: 500;
    font-size: 25px;
    margin-top: -60px;
}

.nav-button {
    display: none;
}

.nav-link {
    color: #000;
}

.nav-link.active {
    color: #606060;
}

/* header content */

.header-row {
    display: flex;justify-content: space-between;
    column-gap: 30px;
}

.header-content {
    margin-top: 124px;
    max-width: 500px;
}

.header-heading {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 45px;
}

.header-content p {
    font-size: 25px;
}

/* форма регистрации */
.wrapper {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 200px;
}
.containerq {
    -webkit-box-shadow: 10px 0px 30px 5px rgba(0,0,0,0.27);
    -moz-box-shadow: 10px 0px 30px 5px rgba(0,0,0,0.27);
    box-shadow: 5px 0px 30px 5px rgba(0,0,0,0.27);
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
    padding: 0px;
    width: 50%;
    height: 600px;
    border-radius: 15px;
}

.login-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding: 100px 100px 50px 100px;
}
.form-title {
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 25px;
}
.forgot-link {
    display: block;
    width: 100%;
    text-align: right;
    padding-bottom: 25px;
}
.login-form a {
    color: #555555;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
}
.form-group {
    margin-bottom: 1rem;
}
.form-group {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input {
    overflow: visible;
}

.btn {
    background-color: #ffdf6b;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary {
    background-color: #ffdf6b;
    border-color: #ffdf6b;
}
.btn-group-lg > .btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}
.btn-block {
    display: block;
    width: 100%;
}
[type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
input[type="button"].btn-block, input[type="reset"].btn-block, input[type="submit"].btn-block {
    width: 100%;
}
[type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner, button::-moz-focus-inner {
    padding: 0;
    border-style: none;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 10px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    font-weight: 700;
}

.regtext {
    font-size: 15px;
    margin-top: 26px;
    color: #777;
}

.regtext a {
    display: inline-block;
    text-decoration: none;
    color: #6b5400;
}

.regtext a:hover {
    color: #ffc800;
}

.error {
    font-size: 16px;
    margin: 10px auto 0;
    padding: 3px;
    color: black;
    text-align: center;
    width: 400px;
    background: #ffd864;
}

/* форма входа */
.form {
    text-align: center;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 25px 20px 25px 15px;
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.20);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.20);
    box-shadow: 0 5px 10px rgba(0,0,0,.20);
}

.title-1 {
    font-size: 40px;
    font-weight: 600;
}

#welcome {
    width: 500px;
    padding: 30px;
    background: #fff;
    margin: 0px auto 0;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.20);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.20);
    box-shadow: 0 5px 10px rgba(0,0,0,.20);
    font-weight: 300;
}

#welcome a {
    display: inline-block;
    text-decoration: none;
    color: #6b5400;
}

#welcome a:hover {
    color: #ffc800;
}

#welcome span {
    font-weight: 300;
    color: #f58220;
}

/* капча */
#g-recaptcha-response {
    display: block !important;
    position: absolute;
    margin: -78px 0 0 0 !important;
    width: 302px !important;
    height: 76px !important;
    z-index: -999999;
    opacity: 0;
  }

/* profile */
.user-card-full {
    overflow: hidden;
}

.cards {
    margin: 0 auto;
    width: 650px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#F506FE), to(#28B9E3));
    background: linear-gradient(to right, #F506FE, #28B9E3);
}

.logout {
    color: white;
}

.logout:hover {
    color: black;
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem;
}

.m-b-25 {
    margin-bottom: 25px;
}

.img-radius {
    border-radius: 5px;
}

h6 {
    font-size: 16px;
}

.cards .card-block p {
    line-height: 25px;
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.card .card-block p {
    line-height: 25px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: #919aa3 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* footer */
.contacts {
    background-color: #F1F1F1;
    padding: 90px 0;
    text-align: center;
}

.contacts-title {
    text-align: center;
    margin-bottom: 40px;
}

.contacts-content {
    margin: 0 auto 40px;
    max-width: 500px;
    font-size: 25px;
}

.contacts-content p {
    font-size: 25px;
}

.contacts-button {
    margin-bottom: 60px;
}

.butn {
    display: inline-block;
    padding: 7px 22px;
    background-color: #070707;
    border-radius: 30px;
    font-size: 18px;
    color: #ffe3a8;
    transition: background-color 0.2s ease-in, top 0.2s ease-in;
}

.butn:hover, .butn:focus {
    background-color: #323232;
}

.butn:active {
    position: relative;
    top: 1px;
    background-color: #000000;
}

.butn {
    font-size: 20px;
}

.contacts-social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    margin-bottom: -40px;
}

.contacts-social img {
    max-width: 50px;
}

.foot{
    position: relative;
    display: flex;
    gap: 25px;
    justify-content: center;
}

.foot li{
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.foot li:hover{
    width: 180px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.foot li::before{
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50px;
    background: linear-gradient(45deg, var(--i), var(--j));
    opacity: 0;
    transition: 0.5s;
}

.foot li:hover::before{
    opacity: 1;
}

.foot li::after{
    content: '';
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--i), var(--j));
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
    filter: blur(15px);
}

.foot li:hover::after{
    opacity: 0.5;
}

.foot li i{
    color: #777;
    font-size:  1.75em !important;
    transition: 0.5s;
    transition-delay: 0.25s;
}

.foot li:hover i{
    transform: scale(0);
    font-size: 1.75em;
    transition-delay: 0.25s;
}

.foot li span{
    position: absolute;
}

.foot li .titulo{
    color: #fff;
    font-size: 1.1em !important;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
}

.foot li:hover .titulo{
    transform: scale(1);
    transition-delay: 0.25s;
}

/* медиа-запросы для профиля */
@media only screen and (min-width: 1400px){
    p {
        font-size: 14px;
    }
    }

@media (max-width: 900px) {
    .form {
            width: 400px;
    }
}

@media (max-width: 700px) {
    .cards {
        width: 500px;
    }
    .form {
            width: 350px;
    }
}

@media (max-width: 580px) {
    .cards {
        width: 350px;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}

@media (max-width: 450px) {
    .cards {
        width: 250px;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}